node_modules/
.next/
dist/
env.local
.env
.env.local
.env.*.local
.cache/
coverage/
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
/.idea/
.vscode/
.DS_Store
public/*.jpeg
public/*.jpg
public/*.png
/.vercel
/*.log